body { font-family:verdana, arial, sans-serif;
		color: white;
		background:  url(fondo-pantalla.jpg) top repeat ;
		background-color:#003860;
		}
		
h1 {
	font-size: 120%;
	float:center;
}

h2 {
	font-size: 100%;
}

a  {
	text-decoration:none;
	color: white;
}

b	{
	font-family:verdana, arial, sans-serif;
	font-size:120%;
	color:white;
}

p  {
	font-size: 80%;
	margin:0;
	padding:0;
}

p.one{
	border-style:solid;
	border-width:1px;
	width:510px;
	padding:10px;
	margin:0;
	margin-left:70px;
	color:yellow;
}
/*
.logo{
	position: absolute;
	top:8px;
	left: 167px;
	width: 357px;
	height: 110px;
	}
*/
#table{
	position:relative;
	top: 20%;
	left: 2%;
}
/*	
#logo{
	position:relative;
	width:120px;
	height:120px;
}

*/

#button{
	margin-top:15px;
	padding:4px 10px 4px 10px;
	font-size:14px;
}
 
	

div{
	display:block;
}

#container{
	width:1081px;
	height: 545px;
	margin-left:160px;
	margin-right:160px;
}	


#header{
	width: 1081px;
	height: 110px;
	background: url(fondo-header.png) top right no-repeat ;
}

#main{
	
	width: 1081px;
	height: 540px;
	background:  url(login-medio.jpg) top right no-repeat ;
}

#mensaje{
	position:relative;
	padding-top:50px;
}


#main2{
	position:relative;
	width: 300px;
	height: 200px;
	top:50px;
	margin-left:300px;
}

#footer{
	
	width: 1050px;
	height: 30px;
	padding-top:10px;
	padding-left:30px;
	background-color: #13336f;
	color:white;
}
